/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

#canvas {
}

svg {
  display: block;
  margin: 0 auto;
}

/*
.ghost {
  height: 500;
  width: 500;
}
*/
